.idea
node_modules
.vscode-test/
*.txt
*.tgz
*.zip
!release/*.tgz
*.log
todo.md
.DS_Store
dist
out
*.vsix
!release/*.vsix
.wireit/
.tsbuildinfo
.*.png

/packages/*/lib
/packages/*/out

/packages/vscode-lit-plugin/built
